
body, ul, ol, li, p 
    {margin: 0;
    padding: 0;}

body 
    {font-family: Arial, sans-serif;
    color: #111;
    background: #f6f6f6 url('https://images.pexels.com/photos/745243/pexels-photo-745243.jpeg') center center fixed;
    background-size: cover;
    text-align: center;}

a 
    {color: #6c00d1;
    text-decoration: none;}

a:hover 
    {color: #47fc00;}

#pagewrap 
    {display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;}

#logo
    {padding: 12px 0 5px 0;
    margin: 0 0 40px 0;
    background: linear-gradient(to top, #f8f7f7, #4b4b4b);
    text-align: center;}

#navigation_wrapper 
    {flex: 1;
    font-size: 12px;
    color: #555;}

#navigation_wrapper ul 
    {background: #fff;
    box-shadow: 1px 1px 2px #888888;
    padding: 5px;
    list-style: none;}

#navigation_wrapper ul li
    {display: inline-block;
    margin-right: 15px;
    padding: 7px;
    border-bottom: #888 dotted 1px;}

#navigation_wrapper ul li a
    {color: #333;
    text-decoration: none;
    font-weight: bold;}

#navigation_wrapper ul li a:hover 
    {color: #00ff08;}

#menu 
    {font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to top, #b404ff, #000);}

#bodyarea 
    {flex: 2;
    padding: 25px;
    background: #f9f9f9;
    box-shadow: 1px 1px 3px #999;
    font-size: 15px;}

#bodyarea p 
    {line-height: 150%;}

h2, h3     
    {color: #fff;
    font-size: 15px;
    padding: 7px 5px;
    margin: 15px 0;
    font-weight: bold;
    border-radius: 4px;
    background: linear-gradient(to bottom, #878787 0%, #000 50%, #474747 51%, #c6c6c6 100%);}

#imagen 
    {width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);}


